RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} (?i)\.(jpeg|jpg|png|gif|svg|ico|css|js|woff|woff2|ttf)$
RewriteRule .* view/documentation/$0 [PT]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php/$0/

<ifmodule mod_expires.c>
<filesmatch "\.(jpg|gif|png)$">
ExpiresActive on
ExpiresDefault "access plus 1 year"
</filesmatch>
</ifmodule>
Options All -Indexes
